In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
import lightgbm as lgb
from sklearn.model_selection import StratifiedKFold
from sklearn.cross_validation import train_test_split
from tqdm import tqdm
import gc
import time
from sklearn.preprocessing import scale
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import scale

/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
print('loading files...')
train = pd.read_csv('train_data.csv')
test = pd.read_csv('test_data.csv')
sample_submission = pd.read_csv('sample_submission.csv')

loading files...

In [3]:
train.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23,target
0,cxcon_1,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2
1,cxcon_4,0,520,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
2,cxcon_7,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
3,cxcon_10,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,0
4,cxcon_13,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,511,511,255,255,2

In [4]:
test.head()

,connection_id,cont_1,cont_2,cont_3,cont_4,cont_5,cont_6,cont_7,cont_8,cont_9,...,cat_14,cat_15,cat_16,cat_17,cat_18,cat_19,cat_20,cat_21,cat_22,cat_23
0,cxcon_2,0,331,6085,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,13,13,255,255
1,cxcon_5,0,520,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,511,511,255,255
2,cxcon_8,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,511,511,255,255
3,cxcon_11,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,510,509,255,255
4,cxcon_14,0,1032,0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,511,511,255,255

In [5]:
sample_submission.head()

  connection_id  target
0       cxcon_2       2
1       cxcon_5       0
2       cxcon_8       0
3      cxcon_11       1
4      cxcon_14       2

In [6]:
target = train['target']
test_ID = test['connection_id']
train.drop(['target','connection_id'] , axis=1 , inplace = True)
test.drop(['connection_id'] , axis=1 , inplace = True)
tr_ID = train.shape[0]

data = pd.concat([train, test] , axis = 0)

In [7]:
cont = data.columns[data.columns.str.startswith('cont')]
cat = data.columns[data.columns.str.startswith('cat')]

In [8]:
for col in tqdm(cat) :
    data[col] = data[col].astype('category')
    data[col] = data[col].cat.codes

100%|██████████| 23/23 [00:00<00:00, 35.77it/s]

In [9]:
poly = PolynomialFeatures(degree = 2 ,interaction_only = True)
feat_new = poly.fit_transform(data[cont].values)
data = np.concatenate([data.values , feat_new] , axis = 1)
data = pd.DataFrame(data)

In [10]:
data['n0'] = (data==0).sum(axis=1)
data['n1'] = (data==1).sum(axis=1)
data['n2'] = (data==2).sum(axis=1)
data['n3'] = (data==3).sum(axis=1)
data['n4'] = (data==4).sum(axis=1)
data['n5'] = (data==5).sum(axis=1)
data['n6'] = (data==6).sum(axis=1)

In [11]:
train = data.iloc[:tr_ID]
test = data.iloc[tr_ID:]

In [12]:
# lgb

t1 = time.time()

X = train
X = X.values
y = target.values
sub = np.zeros([test.shape[0],3])


nrounds = 1500
kfold = 5

params = {'metric':'multi_logloss', 'learning_rate' : 0.01, 'max_depth':10, 'max_bin':10,  'objective': 'multiclass', 
          'num_class':3, 'feature_fraction': 0.8,'bagging_fraction':0.9,'bagging_freq':10,  'min_data': 500}

#X_train ,X_eval ,y_train, y_eval = train_test_split(X,y,train_size = 0.8 , random_state = 1)

X_train ,X_eval ,y_train, y_eval = X,X,y,y
lgb_model = lgb.train(params, lgb.Dataset(X_train, label=y_train), nrounds, lgb.Dataset(X_eval, label=y_eval), verbose_eval=10, early_stopping_rounds = 100 )
   
s = lgb_model.predict(test.values, num_iteration=lgb_model.best_iteration)
    
feat_imp = lgb_model.feature_importance()
    
t2 = time.time()
print "Time taken {} hr".format((t2-t1)/(60*60))

Training until validation scores don't improve for 100 rounds.
[10]	valid_0's multi_logloss: 1.02766
[20]	valid_0's multi_logloss: 0.967177
[30]	valid_0's multi_logloss: 0.915144
[40]	valid_0's multi_logloss: 0.870068
[50]	valid_0's multi_logloss: 0.830794
[60]	valid_0's multi_logloss: 0.79639
[70]	valid_0's multi_logloss: 0.766156
[80]	valid_0's multi_logloss: 0.739518
[90]	valid_0's multi_logloss: 0.71585
[100]	valid_0's multi_logloss: 0.694766
[110]	valid_0's multi_logloss: 0.676007
[120]	valid_0's multi_logloss: 0.659177
[130]	valid_0's multi_logloss: 0.644088
[140]	valid_0's multi_logloss: 0.630549
[150]	valid_0's multi_logloss: 0.618315
[160]	valid_0's multi_logloss: 0.607199
[170]	valid_0's multi_logloss: 0.597142
[180]	valid_0's multi_logloss: 0.588009
[190]	valid_0's multi_logloss: 0.579718
[200]	valid_0's multi_logloss: 0.572156
[210]	valid_0's multi_logloss: 0.565227
[220]	valid_0's multi_logloss: 0.558876
[230]	valid_0's multi_logloss: 0.553081
[240]	valid_0's multi_logloss: 0.547762
[250]	valid_0's multi_logloss: 0.542854
[260]	valid_0's multi_logloss: 0.538335
[270]	valid_0's multi_logloss: 0.534179
[280]	valid_0's multi_logloss: 0.530317
[290]	valid_0's multi_logloss: 0.526756
[300]	valid_0's multi_logloss: 0.523422
[310]	valid_0's multi_logloss: 0.520324
[320]	valid_0's multi_logloss: 0.517441
[330]	valid_0's multi_logloss: 0.514763
[340]	valid_0's multi_logloss: 0.512272
[350]	valid_0's multi_logloss: 0.509912
[360]	valid_0's multi_logloss: 0.507725
[370]	valid_0's multi_logloss: 0.505649
[380]	valid_0's multi_logloss: 0.50372
[390]	valid_0's multi_logloss: 0.501902
[400]	valid_0's multi_logloss: 0.500206
[410]	valid_0's multi_logloss: 0.498609
[420]	valid_0's multi_logloss: 0.497103
[430]	valid_0's multi_logloss: 0.495694
[440]	valid_0's multi_logloss: 0.494362
[450]	valid_0's multi_logloss: 0.493125
[460]	valid_0's multi_logloss: 0.491963
[470]	valid_0's multi_logloss: 0.490867
[480]	valid_0's multi_logloss: 0.489828
[490]	valid_0's multi_logloss: 0.48885
[500]	valid_0's multi_logloss: 0.487931
[510]	valid_0's multi_logloss: 0.487062
[520]	valid_0's multi_logloss: 0.486248
[530]	valid_0's multi_logloss: 0.485474
[540]	valid_0's multi_logloss: 0.484743
[550]	valid_0's multi_logloss: 0.484044
[560]	valid_0's multi_logloss: 0.483382
[570]	valid_0's multi_logloss: 0.482762
[580]	valid_0's multi_logloss: 0.482176
[590]	valid_0's multi_logloss: 0.481624
[600]	valid_0's multi_logloss: 0.481103
[610]	valid_0's multi_logloss: 0.480592
[620]	valid_0's multi_logloss: 0.480104
[630]	valid_0's multi_logloss: 0.479649
[640]	valid_0's multi_logloss: 0.479225
[650]	valid_0's multi_logloss: 0.478816
[660]	valid_0's multi_logloss: 0.478423
[670]	valid_0's multi_logloss: 0.478055
[680]	valid_0's multi_logloss: 0.477695
[690]	valid_0's multi_logloss: 0.477357
[700]	valid_0's multi_logloss: 0.477041
[710]	valid_0's multi_logloss: 0.476736
[720]	valid_0's multi_logloss: 0.476443
[730]	valid_0's multi_logloss: 0.476166
[740]	valid_0's multi_logloss: 0.475894
[750]	valid_0's multi_logloss: 0.475632
[760]	valid_0's multi_logloss: 0.475389
[770]	valid_0's multi_logloss: 0.47515
[780]	valid_0's multi_logloss: 0.474924
[790]	valid_0's multi_logloss: 0.474706
[800]	valid_0's multi_logloss: 0.47451
[810]	valid_0's multi_logloss: 0.47432
[820]	valid_0's multi_logloss: 0.474127
[830]	valid_0's multi_logloss: 0.473951
[840]	valid_0's multi_logloss: 0.473783
[850]	valid_0's multi_logloss: 0.473608
[860]	valid_0's multi_logloss: 0.473442
[870]	valid_0's multi_logloss: 0.473293
[880]	valid_0's multi_logloss: 0.47315
[890]	valid_0's multi_logloss: 0.473015
[900]	valid_0's multi_logloss: 0.472879
[910]	valid_0's multi_logloss: 0.472752
[920]	valid_0's multi_logloss: 0.472627
[930]	valid_0's multi_logloss: 0.472499
[940]	valid_0's multi_logloss: 0.472372
[950]	valid_0's multi_logloss: 0.472253
[960]	valid_0's multi_logloss: 0.472141
[970]	valid_0's multi_logloss: 0.472042
[980]	valid_0's multi_logloss: 0.471951
[990]	valid_0's multi_logloss: 0.471856
[1000]	valid_0's multi_logloss: 0.471754
[1010]	valid_0's multi_logloss: 0.471651
[1020]	valid_0's multi_logloss: 0.471559
[1030]	valid_0's multi_logloss: 0.471478
[1040]	valid_0's multi_logloss: 0.471394
[1050]	valid_0's multi_logloss: 0.471317
[1060]	valid_0's multi_logloss: 0.471235
[1070]	valid_0's multi_logloss: 0.471163
[1080]	valid_0's multi_logloss: 0.471101
[1090]	valid_0's multi_logloss: 0.471015
[1100]	valid_0's multi_logloss: 0.470943
[1110]	valid_0's multi_logloss: 0.470874
[1120]	valid_0's multi_logloss: 0.470814
[1130]	valid_0's multi_logloss: 0.470756
[1140]	valid_0's multi_logloss: 0.470698
[1150]	valid_0's multi_logloss: 0.470638
[1160]	valid_0's multi_logloss: 0.47057
[1170]	valid_0's multi_logloss: 0.470512
[1180]	valid_0's multi_logloss: 0.47046
[1190]	valid_0's multi_logloss: 0.470405
[1200]	valid_0's multi_logloss: 0.470338
[1210]	valid_0's multi_logloss: 0.470291
[1220]	valid_0's multi_logloss: 0.470238
[1230]	valid_0's multi_logloss: 0.470186
[1240]	valid_0's multi_logloss: 0.470137
[1250]	valid_0's multi_logloss: 0.470084
[1260]	valid_0's multi_logloss: 0.470036
[1270]	valid_0's multi_logloss: 0.469985
[1280]	valid_0's multi_logloss: 0.469945
[1290]	valid_0's multi_logloss: 0.469891
[1300]	valid_0's multi_logloss: 0.46985
[1310]	valid_0's multi_logloss: 0.469805
[1320]	valid_0's multi_logloss: 0.469763
[1330]	valid_0's multi_logloss: 0.469713
[1340]	valid_0's multi_logloss: 0.469677
[1350]	valid_0's multi_logloss: 0.469631
[1360]	valid_0's multi_logloss: 0.469587
[1370]	valid_0's multi_logloss: 0.469549
[1380]	valid_0's multi_logloss: 0.46951
[1390]	valid_0's multi_logloss: 0.469478
[1400]	valid_0's multi_logloss: 0.469432
[1410]	valid_0's multi_logloss: 0.469378
[1420]	valid_0's multi_logloss: 0.469352
[1430]	valid_0's multi_logloss: 0.469328
[1440]	valid_0's multi_logloss: 0.469288
[1450]	valid_0's multi_logloss: 0.469251
[1460]	valid_0's multi_logloss: 0.469213
[1470]	valid_0's multi_logloss: 0.469163
[1480]	valid_0's multi_logloss: 0.469138
[1490]	valid_0's multi_logloss: 0.469103
[1500]	valid_0's multi_logloss: 0.469077
Time taken 0.0996498286062 hr

In [13]:
submission=test_ID.to_frame()
sub = np.zeros([test.shape[0]])
for j in range(test.shape[0]) :
    sub[j] = s[j].argmax()
submission['target'] = sub

In [14]:
submission.to_csv('lgb_13.csv', index=False, float_format='%.5f')